{{#*inline "content"}}
    <div class="d-flex justify-content-evenly align-items-center">
      <img id="header" src="/public/img/header.png" />
    </div>
    <div id="ancla"></div>

    <div class="mt-5 mb-5 attendee-form collapse">
      {{#if (not close)}}
      <div class="row">
        <p class="text-center">Ingrese sus datos para registrarse</p>
      </div>
      <form autocomplete="off" class="row mt-3 g-3" id="form">
        <div class="col">
          <div class="form-floating mb-3">
            <input type="text" id="firstname" placeholder="Juan" class="form-control" required>
            <label for="firstname">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" id="data1" placeholder="https://github.com/shadowy-super-coder" class="form-control">
            <label for="data1">Perfil de Github</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" id="email" class="form-control" placeholder="juan@trueno.com" required>
            <label for="email">Email</label>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-light btn-lg">Enviar</button>
          </div>
        </div>
      </form>
      <h4>
        El registro previo y la confirmación de la asistencia, por parte del usuario, se realiza por cuestiones de organización. Por ende, ambas instancias no aseguran su cupo el día del Evento presencial. Los lugares para el Evento serán distribuidos según orden de llegada de los usuarios.
      </h4>
      {{/if}}
      <hr />
      <h4>
        Si realizaste el pago pero no has podido descargar tu entrada puedes descargarla <a href="/check_user">aquí</a>
      </h4>
    </div>

    <div id="invoice" class="mt-5 mb-5 collapse bg-light rounded-3 jumbotron">
      <h3 id="invoice-memo">#LightningHackday POAP</h3>
      <h3><span id="invoice-amount">0</span> SATs</h3>
      <p class="lead">Para continuar, haga un pago con una billetera con soporte Bitcoin Lightning Network a la siguiente factura.</p>
      <p class="lead">Esta factura expira en 10 minutos.</p>
      <hr class="my-4">
      <div align="center" id="qr-code" class="mb-3"></div>
      <h6>Factura:</h6>
      <p id="invoice-text"></p>
      <a id="open-wallet" type="button" href="" class="btn btn-info btn-sm">Abrir wallet</a>
    </div>

    <div id="success-box" class="mt-5 mb-5 collapse bg-light rounded-3 jumbotron">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark_circle" cx="26" cy="26" r="25" fill="none"></circle>
        <path class="checkmark_check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
      </svg>
      <p class="lead" align="center">¡Pago realizado correctamente! Nos vemos en el #LightningHackday 😀</p>
      <p class="lead" align="center">Presente este QR en la entrada:</p>
      <hr class="my-4">
      <div align="center" id="ticket-qr-code" class="mb-3"></div>
      <div class="mb-3" align="center">
        <a id="pdffile" target="_blank" class="btn btn-primary btn-lg btn-block">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf" viewBox="0 0 16 16">
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
          </svg>
          Descargar entrada
        </a>
      </div>
    </div>

    <div class="mt-5">
      <p>
        El “Lightning Hackday” es un evento presencial destinado a todo aquel que quiera entender el potencial de lightning network y para quienes ya estén interiorizados y quieran profundizar las posibilidades que ofrece. <span class="fw-bolder">Durante todo el evento podrás participar en charlas.</span> ¡Vení a pasar un gran momento junto a la comunidad Bitcoiner!*
      </p>

      <h2 class="mb-4">¿Dónde y cuándo?</h2>
      <p>Evento Presencial en <a href="https://www.lacrypta.com.ar/" target="_blank">La Crypta</a> <a href="https://maps.app.goo.gl/d6eyZCrMTwREJSnc7" target="_blank">(Villanueva 1367, C1426BMI CABA, Argentina)</a></p>
      <p>Miércoles 08 de Noviembre de 18:30 a 21:30 hs.</p>

      <h2 class="mb-4">Temario de la jornada</h2>
      <div class="container">
        {{#each talks}}
        <div class="row">
          <div class="col-1">{{time}}</div>
          <div class="col">
            <div>{{title}} ({{duration}})</div>
            <div>{{speaker}}</div>
          </div>
        </div>
        {{/each}}
      </div>

      <p>¡A partir de las 21hs tendremos Shawarma que sólo se puede pagar con 
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin-bitcoin-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336zm-4 2.66a1 1 0 0 0 -1 1h-1a1 1 0 0 0 -2 0a1 1 0 1 0 0 2v6a1 1 0 0 0 0 2c0 1.333 2 1.333 2 0h1a1 1 0 0 0 2 0v-.15c1.167 -.394 2 -1.527 2 -2.85l-.005 -.175a3.063 3.063 0 0 0 -.734 -1.827c.46 -.532 .739 -1.233 .739 -1.998c0 -1.323 -.833 -2.456 -2 -2.85v-.15a1 1 0 0 0 -1 -1zm.09 7c.492 0 .91 .437 .91 1s-.418 1 -.91 1h-2.09v-2h2.09zm0 -4c.492 0 .91 .437 .91 1c0 .522 -.36 .937 -.806 .993l-.104 .007h-2.09v-2h2.09z" stroke-width="0" fill="currentColor"></path>
        </svg>
      !</p>
    </div>
    <hr />
    <section>
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h2 class="mb-4">Ponentes</h2>
        </div>
      </div>

      <div class="row text-center">
        {{#each speakers}}
        <div class="col-md-4 mb-0">
          <div>
            <div class="avatar mx-auto">
              <img src="{{image}}"
                class="rounded-circle img-fluid" />
            </div>
            <div class="card-body">
              <a href="{{social_media_link}}" target="_blank" class="mb-2">{{name}}</a>
              <p class="dark-grey-text mt-4">
                {{notes}}
              </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </section>

    <div class="mt-5 mb-5 d-flex justify-content-center">
      <div class="mt-3">
        <h2>
          Organiza
        </h2>
      </div>
    </div>

    <div class="mt-5 mb-5 d-flex justify-content-center">
      {{#each organizers}}
      <div class="col-md-4 mt-3 align-items-center">
        <a href="{{link}}" target="_blank" class="mb-2">
          <img id="organizer" class="rounded mx-auto d-block" src="{{image}}" />
        </a>
      </div>
      {{/each}}
    </div>

    <div class="mt-5 mb-5 d-flex justify-content-center">
      <div class="mt-3">
        <h2>
          Patrocinan
        </h2>
      </div>
    </div>

    <div class="mt-5 mb-5 d-flex justify-content-center">
      {{#each sponsors}}
        <div class="col-md-4 mt-3 align-items-center">
          <a href="{{link}}" target="_blank">
            <img class="rounded float-start sponsor" src="{{image}}" />
          </a>
        </div>
      {{/each}}
    </div>
{{/inline}}
{{#*inline "scripts"}}
    <script src="/public/js/kjua.min.js"></script>
    <script src="/public/js/main.js"></script>
{{/inline}}
{{~> main~}}